<div class="container bg-light rounded-4">
  <div class="row">
    <div class="col border-bottom">
      <div class="mx-4 my-2">Schedule</div>
    </div>
  </div>
  <div class="container p-0">
    <div class="row p-2" style="height: 70ch">
      <div class="col">Monday</div>
      <div class="col">Tuesday</div>
      <div class="col">Wednesday</div>
      <div class="col">Thursday</div>
      <div class="col">Friday</div>
      <div class="col">Saturday</div>
      <div class="col">Sunday</div>
    </div>
  </div>
</div>
